.header {
    background-color: coral;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 100px;
}

.button__profile {
    padding: 15px;
    background-color: bisque;
    border-radius: 10px;
    border: none;
}
.button__profile:hover {
    background-color: bisque;
    border-radius: 10px;
    cursor: pointer;
}
