.footer {
    background-color: coral;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
    padding: 10px;
}
.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.footer__contact_link:hover {
    color: orangered;
}
