.button__add {
    padding: 10px;
    background-color: coral;
    border: none;
    border-radius: 24px;
    color: #58504d;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
}

.button__add:hover {
    color: black;
    box-shadow: 3px 3px 9px 1px #58504d;
}
