.post {
    display: grid;
    gap: 20px;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0 0 1px 1px coral;
}

.post:hover {
    box-shadow: 0 0 10px 2px coral;
}

.post__header {
    display: flex;
    gap: 20px;
}

.post__autor-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post__autor-info {
    display: grid;
}

.post__link {
    display: grid;
    grid-template-rows: 30px 350px 100px;
    text-decoration: none;
    color: black;
    gap: 30px;
}

.post__title {
    margin: 0;
}

.post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.post__text {
    margin: 0;
    text-align: justify;
    height: 100px;
}

.post__tags {
    display: flex;
    gap: 10px;
}

.post__tag {
    padding: 4px 7px;
    border: none;
    border-radius: 24px;
    background-color: coral;
    color: #58504d;
    font-weight: 600;
}

.post__footer {
    display: flex;
    justify-content: space-between;
}

.post__buttons {
    display: flex;
    gap: 10px;
}

.post__button {
    padding: 4px 7px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    background-color: coral;
    display: flex;
    gap: 3px;
}
